.model.item{
    display:flex;
    justify-items: flex-start;
}

.item {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 15px;
  width: 130%;

  .description {
    overflow: hidden;
    height: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.img {
    width: 250px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  .model-image {
    height: 100%;
  }
}
